html {
    height: 100%;
}

body {
    background-image: linear-gradient(160deg, #0093E9, #80D0C7);
    font-family: 'Roboto', sans-serif;  
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}

.card1, .card2, .card3 {
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 20px;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.60rem;
    margin-bottom: 0.6rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;

}

.cards i {
    font-size: 70px;
}

.mybutton {
    color: #0093E9;
    background-color: white;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.200);
}

.herobox2 img {
    border-radius: 20px;
}